/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

/* Dark mode :3 */
body.dark-mode{
    font-familiy: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #161616;
    color: #DFDFDF;
}

h1, h2 {
    color: #444;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.75em;
    margin-bottom: 20px;
}

p {
    font-size: 1em;
    margin-bottom: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
